<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta th:replace="layout/header::viewport"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="javascript" th:href="@{/js/jquery.min.js}"></script>
    <title></title>
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
    <div class="well well-sm">
        <a th:href="@{/product/create}" class="btn btn-default ">Add Detail</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getUser().name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>