<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta th:fragment="viewport" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/session/list">Session</a></li>
            <li><a href="/product/list">Product</a></li>
            <li><a href="/user/list">User</a></li>
        </ul>
    </div>
</nav>

</body>
</html>